target extended-remote :3333

set remotetimeout unlimited
set mem inaccessible-by-default off

# Load the program.
load
monitor reset halt

# Get to main.
break main
continue
tui enable

# Enable semihosting (for the debugger).
# monitor semihosting breakOnError
# monitor semihosting enable
# monitor semihosting IOClient 2

# Enable semihosting (in the program).
# set var enable_semihosting = true

# Enable the command-line interface (in the program).
# set var enable_cli = true
