build
ninja
build.ninja
compile_commands.json
.ninja*
venv*
-.gcno
.*cache
*-out
__pycache__
tags
dev_requirements.txt
mklocal
site.env
dist
third-party
src/generated
src/apps/generated
tasks/conf.py
tasks/mklocal
/toolchains
