Welcome to {{project.name}}'s documentation!
=================================

.. toctree::
   :maxdepth: 2
   :caption: Contents:

   generated/root.rst

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
