.. include:: ../README.md
   :parser: myst_parser.sphinx_

.. toctree::
   :maxdepth: 3
   :caption: Interface Documentation

   generated/root.rst

Indices

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
