{% import __templates__["yambs_constants"] as constants %}
# Workflow tasks.
vmklib>={{constants.min_vmklib}}
yambs>={{constants.min_yambs}}
ifgen>={{constants.min_ifgen}}

# Documentation.
sphinx
sphinx-book-theme
breathe
exhale

# Linting and QA.
yamllint
