let repo = expand('<sfile>:p:h')
" let rel = repo . '/toolchains/arm-picolibc-eabi/bin/'
" let g:ale_c_cc_executable = rel . 'arm-picolibc-eabi-gcc'
" let g:ale_cpp_cc_executable = rel . 'arm-picolibc-eabi-g++'
let rel = repo . '/toolchains/riscv32-picolibc-elf/bin/'
let g:ale_c_cc_executable = rel . 'riscv32-picolibc-elf-gcc'
let g:ale_cpp_cc_executable = rel . 'riscv32-picolibc-elf-g++'
let g:ale_asm_gcc_executable = g:ale_c_cc_executable
