---
project:
  name: {{project.name}}

  github: {owner: &self {{project.owner}}}
  version: {major: {{project.version.major}}, minor: {{project.version.minor}}, patch: {{project.version.patch}}}
{% if "config_local" in project and project["config_local"] %}

{{project["config_local"]}}
{% endif %}
{% if "embedded" not in project and not project["embedded"] %}

variants:
  debug:
    suffix: "-12"
  opt:
    suffix: "-12"

  clang:
    suffix: &clang_version "-15"

  clang-opt:
    suffix: *clang_version
{% else %}

variants:
  # Disable regular targets.
  debug:
    enabled: false
  opt:
    enabled: false
  clang:
    enabled: false
  clang-opt:
    enabled: false
{% endif %}
