{% set embedded_toolchain = "riscv32-picolibc-elf" %}
{% set gcc_version = 14 %}
{% set gcc_suffix = "-" + gcc_version|string %}
{% set clang_version = 19 %}
{% set clang_suffix = "-" + clang_version|string %}
{% set min_vmklib = "2.0.12" %}
{% set min_yambs = "3.1.5" %}
{% set min_ifgen = "4.7.3" %}
