
"""
Useful defaults and other package metadata.
"""

DESCRIPTION = "{{package["description"]}}"
{% if "pypi_name" in package %}
PKG_NAME = "{{package["pypi_name"]}}"
{% else %}
PKG_NAME = "{{package["name"]}}"
{% endif%}
VERSION = "{{package["version"]}}"
{% if "init_local" in package %}

# {{package["name"]}}-specific content.
{{package["init_local"]}}
{% endif %}
