"""
{{package["name"]}} - Package's default entry-point.
"""

# built-in
import sys

# internal
from {{package["name"]|replace("-", "_")}}.entry import main

if __name__ == "__main__":
    sys.exit(main(sys.argv))
