# {{package["name"]}} ([{{package["version"]}}](https://pypi.org/project/{{package["name"]}}/))

[![python](https://img.shields.io/pypi/pyversions/{{package["name"]}}.svg)](https://pypi.org/project/{{package["name"]}}/)
![Build Status](https://github.com/{{python["author_info"]["username"]}}/{{package["name"]}}/workflows/Python%20Package/badge.svg)
[![codecov](https://codecov.io/gh/{{python["author_info"]["username"]}}/{{package["name"]}}/branch/master/graphs/badge.svg?branch=master)](https://codecov.io/github/{{python["author_info"]["username"]}}/{{package["name"]}})

*{{package["description"]}}*
