---
name: Python Package

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
{% if "versions" in python %}
{% for version in python["versions"] %}
          - "{{version}}"
{% endfor %}
{% else %}
          - "{{python["default_version"]}}"
{% endif %}
    env:
      PYTHON_VERSION: ${{"{{matrix.python-version}}"}}
    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive

      - name: python${{"{{matrix.python-version}}"}} setup
        uses: actions/setup-python@main
        with:
          python-version: ${{"{{matrix.python-version}}"}}
          cache: pip

      - run: pip${{"{{matrix.python-version}}"}} install vmklib

      - run: mk venv
      - run: mk python-sa-types

      - name: lint and build
        run: |
          mk -- -j python-lint yaml python-build

      - name: sa
        env:
          PY_LINT_EXTRA_ARGS: --no-incremental
        run: |
          mk PY_LINT_EXTRA_ARGS="--no-incremental" python-sa

      - name: test
        env:
          PYTEST_EXTRA_ARGS: --cov-report=xml
        run: |
          mk PYTEST_EXTRA_ARGS="--cov-report=xml" python-test

      - uses: codecov/codecov-action@master

      - name: package-upload
        run: |
          echo "TODO"
        if: ${{"{{matrix.python-version == '"}}{{python["default_version"]}}{{"'}}"}}
