---
name: Python Package

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  TWINE_PASSWORD: ${{"{{secrets.TWINE_PASSWORD}}"}}

jobs:
  build:

    runs-on: ${{"{{matrix.system}}"}}
    strategy:
      matrix:
        python-version:
{% if "versions" in python %}
{% for version in python["versions"] %}
          - "{{version}}"
{% endfor %}
{% else %}
          - "{{python["default_version"]}}"
{% endif %}
        system:
{% for system in python["systems"] %}
          - {{system}}
{% endfor %}
    env:
      PYTHON_VERSION: ${{"{{matrix.python-version}}"}}
    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive

      - name: python${{"{{matrix.python-version}}"}} setup
        uses: actions/setup-python@main
        with:
          python-version: ${{"{{matrix.python-version}}"}}
          cache: pip

{% if package["name"] == "vmklib" %}
      - run: pip${{"{{matrix.python-version}}"}} install -e .
{% else %}
      - run: pip${{"{{matrix.python-version}}"}} install vmklib>=1.8.0
{% endif %}

      # 'yamllint' needs to be installed early (presumably a bug in dependency
      # resolution).
      - run: mk python-lint-install python-install-yamllint
        if: |
          matrix.python-version != '3.7'
          || matrix.system != 'windows-latest'
      - run: mk python-sa-types
        if: |
          matrix.python-version != '3.7'
          || matrix.system != 'windows-latest'

      - name: lint and build
        run: mk python-lint python-sa yaml python-build-once
        env:
          PY_LINT_MYPY_EXTRA_ARGS: --no-incremental
        if: |
          matrix.python-version != '3.7'
          || matrix.system != 'windows-latest'

      - run: mk python-test
        env:
          PY_TEST_EXTRA_ARGS: --cov-report=xml
        if: |
          matrix.python-version != '3.7'
          || matrix.system != 'windows-latest'

      - uses: codecov/codecov-action@main
        if: |
          matrix.python-version != '3.7'
          || matrix.system != 'windows-latest'

      - run: mk pypi-upload-ci
        env:
          TWINE_USERNAME: __token__
        if: |
          matrix.python-version == '{{python["default_version"]}}'
          && matrix.system == 'ubuntu-latest'
          && env.TWINE_PASSWORD != ''
          && github.ref_name == 'master'
