# Internal Dependency Graph

A coarse view of the internal structure and scale of
`{{package["name"]}}`'s source.
Generated using [pydeps](https://github.com/thebjorn/pydeps) (via
`mk python-deps`).

![{{package["name"]}}'s Dependency Graph](im/pydeps.svg)
