# {{package.name}}

![Build Status](https://github.com/{{node["author_info"]["username"]}}/{{package["name"]}}/workflows/Node%20Package/badge.svg)
[![codecov](https://codecov.io/gh/{{node["author_info"]["username"]}}/{{package["name"]}}/branch/master/graphs/badge.svg?branch=master)](https://codecov.io/github/{{node["author_info"]["username"]}}/{{package["name"]}})

*{{package.description}}*
