
"""
{{package["name"]}} - Useful defaults and other package metadata.
"""

PKG_NAME = "{{package["name"]}}"
VERSION = "{{package["version"]}}"
DESCRIPTION = "{{package["description"]}}"

{{package["local"]}}

