{
    "hash": "{{git_hash.stdout|trim}}",
    "date": "{{git_date_cD.stdout|trim}}",
    "subject": "{{git_subject.stdout|trim}}",
    "body": "{{git_body.stdout|trim}}",
    "author_name": "{{git_author_name.stdout|trim}}",
    "author_email": "{{git_author_email.stdout|trim}}"
}
