#!/bin/bash
set -e && set -x
{{post["prologue"]}}
curl \
	-X POST \
{% for header in post["headers"] %}
	-H "{{header}}" \
{% endfor %}
	{{post["protocol"]}}://{{post["uri"]}} \
	-d '{{post["data"]|tojson}}'
{{post["epilogue"]}}
