# {{package["name"]}} ([{{package["version"]}}](https://pypi.org/project/{{package["name"]}}/))

![Python package](https://github.com/{{python["author_info"]["username"]}}/{{package["name"]}}/workflows/Python%20package/badge.svg)

*{{package["description"]}}*
