
"""
{{package["name"]}} - Package definition for distribution.
"""

# third-party
from vmklib.setup import setup  # type: ignore

# internal
from {{package["name"]}} import PKG_NAME, VERSION, DESCRIPTION


author_info = {
    "name": "{{python["author_info"]["name"]}}",
    "email": "{{python["author_info"]["email"]}}",
    "username": "{{python["author_info"]["username"]}}",
}
pkg_info = {"name": PKG_NAME, "version": VERSION, "description": DESCRIPTION}
setup(
    pkg_info,
    author_info,
{% for arg in package["setup_args"] %}
    {{arg}},
{% endfor %}
)
