<svg version="{{svg.version}}" xmlns="{{svg.xmlns}}"
     viewBox="{{svg.x_offset}} {{svg.y_offset}} {{svg.x_offset|int + svg.width|int}} {{svg.y_offset|int + svg.height|int}}">
{% if svg.background.color %}
    <!-- background -->
    <rect x="{{svg.x_offset}}" y="{{svg.y_offset}}"
          width="{{svg.width}}" height="{{svg.height}}"
          style="fill:{{svg.background.color}}" />
{% endif %}
{{svg_content}}
{% if svg.grid.width|int > 0 %}

    <!-- grid -->
{% set x_delta = svg.width|int / (svg.grid.lines|int + 1) %}
{% set y_delta = svg.height|int / (svg.grid.lines|int + 1) %}
{% set curr_x = x_delta %}
{% set curr_y = y_delta %}
{% for i in range(svg.grid.lines|int) %}
    <line x1="{{curr_x + (i * x_delta)}}" y1="0"
          x2="{{curr_x + (i * x_delta)}}" y2="{{svg.height}}"
          style="stroke:{{svg.grid.color}};stroke-width:{{svg.grid.width}}" />
    <line x1="0" y1="{{curr_y + (i * y_delta)}}"
          x2="{{svg.width}}" y2="{{curr_y + (i * y_delta)}}"
          style="stroke:{{svg.grid.color}};stroke-width:{{svg.grid.width}}" />
{% endfor %}
{% endif %}
{% if svg.border.width|int > 0 %}

    <!-- border -->
    <line x1="0" y1="0"
          x2="0" y2="{{svg.height}}"
          style="stroke:{{svg.border.color}};stroke-width:{{svg.border.width}}" />
    <line x1="0" y1="0"
          x2="{{svg.width}}" y2="0"
          style="stroke:{{svg.border.color}};stroke-width:{{svg.border.width}}" />
    <line x1="0" y1="{{svg.height}}"
          x2="{{svg.width}}" y2="{{svg.height}}"
          style="stroke:{{svg.border.color}};stroke-width:{{svg.border.width}}" />
    <line x1="{{svg.width}}" y1="0"
          x2="{{svg.width}}" y2="{{svg.height}}"
          style="stroke:{{svg.border.color}};stroke-width:{{svg.border.width}}" />
{% endif %}
</svg> 
