a:link {
  color: {{color[html["theme"]]["primary"][50]}};
}

a:visited {
  color: {{color[html["theme"]]["primary"][400]}};
}

a:hover {
  color: {{color[html["theme"]]["primary"][700]}};
}

a:active {
  color: {{color[html["theme"]]["primary"][50]}};
}

button {
  color: {{color[html["theme"]]["primary"][200]}};
  background-color: {{color[html["theme"]]["primary"][800]}};
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

.button {
  color: {{color[html["theme"]]["primary"][200]}};
  background-color: {{color[html["theme"]]["primary"][800]}};
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

button:hover {
  background-color: {{color[html["theme"]]["primary"][700]}};
}

.button:hover {
  background-color: {{color[html["theme"]]["primary"][700]}};
}

button:active {
  background-color: {{color[html["theme"]]["primary"][600]}};
}

.button:active {
  background-color: {{color[html["theme"]]["primary"][600]}};
}
